<html>
  <head>
    <style>
      body {
        background: <%=backgroundColor%>;
      }
      </style>
  </head>
  <body>
    <form>
      <%if message%>
      <p><%=message%></p>
      <%end%>

      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
  </body>
</html>
